* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url('image/background.jpg');
  background-repeat: no-repeat;

}

h1 {
  margin-top: 150px;
  text-align: center;
  color: #ffff;
}

h2 {
  margin-top: 25px;
  text-align: center;
  color: #ffff;
}

#content {
  margin: 0 auto;
  margin-top: 25px;
  background-color: transparent;
  border-radius: 10px;
  width: 700px;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

#content div {
  background-color: transparent;
  border-radius: 10px;
  width: 100px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 25px;
  color: #ffff;
}